
<div class="container-fluid" style="background-color: #98FB98">
  <ol class="breadcrumb">
    <li>
      <a routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li class="active">Module</li>
  </ol>
  <div class="row">
    <div class="col-lg-12">
      <div *ngFor="let alert of alerts">
        <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">{{ alert.msg }}</alert>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-offset-3">

      <form [formGroup]="moduleForm" class="form-horizontal">
        <div class="form-group">
          <legend>{{updating ? 'Updating group' : 'Add Module'}}</legend>
        </div>

        <div class="form-group">
          <label for="inputModuleCode" class="col-sm-2 control-label">Module Code</label>
          <div class="col-sm-2">
            <input type="text" name="" id="inputModuleCode" class="form-control" required="required" formControlName="moduleCode">
          </div>
        </div>

        <div class="form-group">
          <label for="inputModuleName" class="col-sm-2 control-label">Module Name</label>
          <div class="col-sm-6">
            <input type="text" name="" id="inputModuleName" class="form-control" required="required" formControlName="moduleName">
          </div>
        </div>

        <div class="form-group">
          <label for="inputCreditValue" class="col-sm-2 control-label">Credit Value</label>
          <div class="col-sm-2">
            <input type="text" name="" id="inputCreditValue" class="form-control" required="required" formControlName="creditValue">
          </div>
        </div>

        <div class="form-group">
          <label for="inputLearningHours" class="col-sm-2 control-label">Learning Hours</label>
          <div class="col-sm-2">
            <input type="text" name="" id="inputLearningHours" class="form-control" required="required" formControlName="learningHours">
          </div>
        </div>

        <div class="form-group">
          <label for="inputModuleLecturer" class="col-sm-2 control-label">Module Lecturer</label>
          <div class="col-sm-6">
            <input type="text" name="" id="inputModuleLecturer" class="form-control" required="required" formControlName="moduleLecturer">
          </div>
        </div>
        
        <div class="form-group">
          <label for="inputEmail" class="col-sm-2 control-label">Lecturer Email</label>
          <div class="col-sm-6">
            <input type="text" name="" id="inputEmail" class="form-control" required="required" formControlName="lecturerEmail">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-10">
            <input type="hidden" formControlName="id">
            <button type="submit" class="btn btn-primary" [disabled]="moduleForm.invalid" (click)="updating ? updateGroup() : save()">{{updating ? 'Update' : 'Save'}}</button>
            <button class="btn btn-warning" [disabled]="!moduleForm.dirty && !moduleForm.pristine" (click)="reset()">Clear</button>
            
            <button type="button" class="btn btn-info" (click)="updating=updating ? false : true">Toggle Action</button>
            
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4" *ngFor="let module of modules$ | async">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ module.moduleCode }}</h3>
        </div>
        <div class="panel-body">
          Module Name: {{module.moduleName}} <br>
          Credit Value: {{module.creditValue}}
          <br> Learning Hours: {{module.learningHours}}
          <br> Module Lecturer: {{module.moduleLecturer}}
          <br> Lecturer Email: {{module.lecturerEmail}}
        </div>
        <!-- <div class="panel-footer"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true" (click)="remove(group.id)"></span></div> -->
        <div class="panel-footer clearfix">
          <div class="pull-right">
            <button type="button" class="btn btn-danger btn-sm" (click)="openModal(template)">
              <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Delete
            </button>
            <button type="button" class="btn btn-info btn-sm" (click)="fill(module)">
              <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Update
            </button>
          </div>
        </div>
        <!-- Modal overlay -->
        <ng-template #template>
          <div class="modal-body text-center">
            <p>Do you want to confirm?</p>
            <button type="button" class="btn btn-default" (click)="remove(module.id)">Yes</button>
            <button type="button" class="btn btn-primary" (click)="decline()">No</button>
          </div>
          
        </ng-template>
      </div>
    </div>
  </div>
</div>
