.panel-body{
	font-family: 'sans-serif';
	border-bottom: 2px solid #32CD32;
}

.panel-heading{
	font-size: 20px;
	font-family: verdana;
	border-bottom: 2px solid #32CD32;
	background-color: transparent;
}
.row{
	background-color: transparent;
	height: 100%;
	font-size: 20px;
	font-family: 'sans-serif';
}