.panel-body{
	font-family: 'sans-serif';
	border-bottom: 2px solid #32CD32;
	font-size: 20px;
}
.panel-heading{
	font-size: 20px;
		border-bottom: 2px solid #32CD32;
}
.container-fluid{

	background-color: #98FB98;
}

.list-group{
	color: black;
}
