<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="../../../assets/logo.png" class="img-responsive" style="width: 60px; margin-top: -15px;">
      </a>
      <a routerLink="/" routerLinkActive="active"><span class="navbar-brand">Politeknik Brunei Attendance</span></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="#">
          Link
          <span class="sr-only">(current)</span>
        </a>
      </li>

      <li>
    <a routerLink="/login" routerLinkActive="active">Login</a>

      </li>

      <li>
        <a routerLink="/modules" routerLinkActive="active">Modules</a>
      </li>


      <li class="dropdown" dropdown>

        <a dropdownToggle role="button">

          more..
          <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu">

          <li>
            <a routerLink="/groups" routerLinkActive="active">Groups</a>
          </li>
          <li>
            <a routerLink="/attendances" routerLinkActive="active">Attendances</a>
          </li>
          <li>
           <a routerLink="/gl" routerLinkActive="active">GL/AGL</a>
          </li>
        </ul>
      </li>
    </ul>

  </div>
</nav>
<router-outlet></router-outlet>
