<div class="container-fluid" style="background-color: #98FB98">
  <ol class="breadcrumb">
    <li>
      <a routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/attendances" routerLinkActive="active">Attendances</a>
    </li>
    <li class="active">{{ (item | async)?.module }} - Slot {{ (item | async)?.slot }} - {{ (item | async )?.date | date:'dd/MM/yyyy HH:mm a' }}</li>
  </ol>

    <div class="panel panel-default">
    <div class="panel-heading">Information</div>
    <div class="panel-body">
      <h4>Module: {{ (item | async)?.module }}</h4>
      <h4>Lecturer: {{ (item | async)?.ml }}</h4>
      <h4>Slot: {{ (item | async)?.slot }}</h4>
      <h4>Date: {{ (item | async )?.date | date:'short' }}</h4>
    </div>

    <form [formGroup]="attendanceForm">
    <table class="table">
      <thead>
        <tr>
          <th>Students</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let student of (item | async )?.students; index as i">
           <td>
                  <p><strong>#{{i+1}}</strong> {{student.id}} - {{student.name}}</p>
              <div class="row">
               <div class="col-lg-2">
                 <div class="radio">
                   <label>
                     <input type="radio" value="present" checked="checked" formControlName="radio{{i+1}}"> Present
                  </label>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="radio">
                  <label>
                      <input type="radio" value="late" formControlName="radio{{i+1}}"> Late
                  </label>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="radio">
                  <label>
                     <input type="radio" value="absent" formControlName="radio{{i+1}}"> Absent
                  </label>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="radio">
                  <label>
                    <input type="radio" value="excused" formControlName="radio{{i+1}}"> Excused
                  </label>
                </div>
              </div>

              <div class="col-lg-4">
                 <div class="form-group">
                   <label for="inputAttendanceExcuse" class="col-sm-2 control-label fixlabel">Remark</label>
                   <div class="col-sm-10">
                     <input type="text" name="remark{{i+1}}" id="inputAttendanceExcuse" class="form-control" value="" required="required" pattern="" title=""  formControlName="remark{{i+1}}">
                  </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <button type="button" class="btn btn-large btn-block btn-success" (click)="updateStudentsAttendance()">Save</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>